.uz{
    color: blue;
}
#uz{ 
    color: gold;
}
.ru{
    color: aqua;
}
#ru{
    color:yellow ;
}
.tu{
    color: aquamarine;
}
#tu{
    color: red;
}
#ut{
    color: goldenrod;
}
.ut{
    color: green;
}
#zu{
    color: blueviolet;
}
.zu{
    color: brown;
}